<h1> Eat a Burger! </h1>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <img src="/assets/img/burgerpic.png">
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h2> Your Meal Options </h2>
      <div class="panel-body">
      	{{#each burgers}}
      		{{#unless this.devoured}}
  			    <form action="/{{this.id}}?_method=PUT" method="POST">
            
              <div class="form-group">
            	  <input type="hidden" class="form-control" name="devoured" value="true">
              </div>

              <p> {{this.burger_name}} <button class="btn btn-default" type="submit">DEVOUR ME!</button> </p>
          	</form>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <h2> Burgers You've Eaten... </h2>
      <div class="panel-body">
        	{{#each burgers}}
          	{{#if this.devoured}}
            	  <p>
              	{{this.burger_name}}
            	  </p>
          	{{/if}}
        	{{/each}}
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <h2>Add a Burger</h2>
      <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
          <label for="bt">Burger Type:</label>
          <input type="text" class="form-control" id="bt" name="burger_name" placeholder="e.g. Veggie Burger">
        </div>

        <button class="btn btn-default" type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>